.container_friends {
    background-color: rgb(222, 222, 222);
   
    height: 100vh;
    display: grid;
    border-radius: 30px;
    margin: 10px;
    justify-content: center;
    justify-items: center;
overflow-y: scroll;
scrollbar-color: rebeccapurple green;
scrollbar-width: thin;

}
#dark .container_friends {
	transition: background-color 1s;
	background-color: rgb(47, 47, 47);
}
#light .container_friends {
	transition: background-color 1s;
	background-color: #bbbbbb;
}

.children_children_friends{
	display: grid;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border-bottom: 0em;
	margin: 5px;
	padding: 15px;
	color: black;
	width: 100vh;
	font-family: 'Righteous', serif;
	background: -webkit-linear-gradient(
		269deg,
		#4158d0 0%,
		#c850c0 100%,
		#ffcc70 46%
	);
}
@media screen and ( max-width :650px ) {
	.container_friends{
	display: grid;
	min-width: 50vh;
	

	}
	.children_children_friends{

		height: 15vh;
		display: grid;
		border-radius: 30px;
		margin: 10px;
		padding: 10px;
		border-radius: 30px;
		justify-content: center;
		justify-items: center;
	overflow-y: scroll;
	scrollbar-color: rebeccapurple green;
	scrollbar-width: thin;
	





	}

}
