.container_friends {
display: grid;
height: 100vh;
background-color: #bbbbbb;
margin: 10px;
border: 1px solid #bbbbbb;
border-radius: 20px;
width: 300px;

overflow-y: scroll;
scrollbar-color: rebeccapurple green;
scrollbar-width: thin;

}


.children_children_friends{
	display: grid;
	border-radius: 20px;
	border-bottom: 0em;
	margin: 5px;
	padding: 15px;
	color: black;
	font-family: 'Righteous', serif;
	background: -webkit-linear-gradient(
		269deg,
		#4158d0 0%,
		#c850c0 100%,
		#ffcc70 46%
	);
}
