.profile {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  transition: background-color 1s;
  background-color: #dedede;
  height: 76vh;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow-y: scroll;
  &_left{
    width: 50%;
    display: grid;
    place-items: center;
    float: left;
  }
  &_right {
    width: 50%;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    float: right;
  }
  &_title {
    text-align: center;
    padding-bottom: 5rem;
  }
  &_input_picture {
    padding-top: 3rem;
  }
  &_firstname {
    margin-top: 4rem;
    text-align: center;
    color: black;
  }
  &_name {
    text-align: center;
    color: black;
  }
  &_birthday {
    text-align: center;
    color: black;
  }
  &_job{
    text-align: center;
    color: black;
  }
  &_email{
    text-align: center;
    color: black;
  }
  &_password{
    text-align: center;
    color: black;
  }
  &_password_confirm{
    text-align: center;
    color: black;
  }
  &_address {
    text-align: center;
    color: black;
  }
  
}

.my_current_profile {
  width: 100%;
  margin-bottom: 3rem;
}

#dark .profile{
  transition: background-color 1s;
  background-color: rgb(47, 47, 47);
}

.my_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile::-webkit-scrollbar {
  width: 5px;
}
.profile::-webkit-scrollbar-thumb {
  background: rgb(255, 145, 0); 
}