.profile {
  background-color: lightgray;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
  &_left{
    width: 50%;
    display: grid;
    place-items: center;
    float: left;
  }
  &_right {
    width: 50%;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    float: right;
  }
  &_frame {
    border: 1px solid black;
    align-items: center;
  }
  &_title {
    text-align: center;
    padding-bottom: 5rem;
  }
  &_input_picture {
    padding-top: 3rem;
  }
  &_firstname {
    margin-top: 4rem;
    text-align: center;
    color: black;
  }
  &_name {
    text-align: center;
    color: black;
  }
  &_birthday {
    text-align: center;
    color: black;
  }
  &_job{
    text-align: center;
    color: black;
  }
  &_email{
    text-align: center;
    color: black;
  }
  &_password{
    text-align: center;
    color: black;
  }
  &_password_confirm{
    text-align: center;
    color: black;
  }
  
}