.profile {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  transition: background-color 1s;
  background-color: #dedede;
  height: 76vh;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow-y: scroll;
  &_left{
    transition: background 1s;
  transition: box-shadow 1s;
    width: 50%;
    display: grid;
    place-items: center;
    float: left;
  }
  &_right {
    transition: background 1s;
  transition: box-shadow 1s;
    width: 50%;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    float: right;
  }
  &_title {
    text-align: center;
    padding-bottom: 5rem;
  }
  &_input_picture {
    padding-top: 3rem;
  }
  &_firstname {
    margin-top: 4rem;
    text-align: center;
    color: black;
  }
  &_name {
    text-align: center;
    color: black;
  }
  &_job{
    text-align: center;
    color: black;
  }
  &_email{
    text-align: center;
    color: black;
  }
  &_password{
    text-align: center;
    color: black;
  }
  &_password_confirm{
    text-align: center;
    color: black;
  }
  &_address {
    text-align: center;
    color: black;
  }
  &_btn {
    cursor: pointer;
    margin-top: 20px;
  }
}

.my_current_profile {
  width: 100%;
  margin-bottom: 3rem;
}

#dark .profile{
  transition: background-color 1s;
  background-color: rgb(47, 47, 47);
}

.my_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile::-webkit-scrollbar {
  width: 5px;
}
.profile::-webkit-scrollbar-thumb {
  background: rgb(255, 145, 0); 
}

#dark .profile_left {
	transition: background 1s;
	transition: box-shadow 1s;
  width: 40%;
	background: rgba(255, 255, 255, 0.641);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	padding: 1rem;
}

#dark .profile_right {
  transition: background 1s;
  transition: box-shadow 1s;
  width: 40%;
  background: rgba(255, 255, 255, 0.641);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.profile_birthday {
  display: flex;
    text-align: center;
    color: black;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  &_day{
    width: 50px;
    color: black;
  }
  &_month{
    width: 50px;
    color: black;
  }
  &_year{
    width: 100px;
    color: black;
  }
}