.form {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 17rem;
	height: 100vh;
	display: grid;
	border-radius: 30px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	max-height: 19em;
	
}

#light .form {
	transition: background-color 1s;
	background-color: rgb(222, 222, 222);
}

#dark .form {
	transition: background-color 1s;
	background-color: rgb(47, 47, 47);
}
.form_profile {
	align-items: center;
    display: grid;
    justify-content: center;
	font-family: 'Righteous', serif;
	cursor: pointer;
	background: -webkit-linear-gradient(
		269deg,
		#4158d0 0%,
		#c850c0 100%,
		#ffcc70 46%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: width 0.25s ease-out;
}

.form_search {
	width: 16rem;
	text-align: center;
	color: black;
}

#dark .form_search {
	color: azure;
}
